
.custom-container {
    max-width: 800px; 
    margin: 0 auto;
  }
  .product-link {
    text-decoration: none; /* Remove underline from links */
    color: #007bff; /* Set link color */
    transition: color 0.3s ease; /* Smooth transition for color change */
  }
  
  .product-link:hover {
    color: #0056b3; /* Change color on hover */
  }
  